<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page15</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:21Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>tracefossils.html</key>
				<dict>
					<key>Digest</key>
					<data>
					GS3zaTAwj4dt3x9f8umc2Q==
					</data>
					<key>Size</key>
					<integer>51236</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page15</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page16</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:21Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>experiments.html</key>
				<dict>
					<key>Digest</key>
					<data>
					DMYVdL1Kie6pX3jgTdxmSg==
					</data>
					<key>Size</key>
					<integer>52967</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page16</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page17</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:21Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>wild.html</key>
				<dict>
					<key>Digest</key>
					<data>
					sJwZojbL/3Y/neYvi0b6kg==
					</data>
					<key>Size</key>
					<integer>50901</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page17</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
