<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page5</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>currentresearch.html</key>
				<dict>
					<key>Digest</key>
					<data>
					BdHBSc6W0PdtJ97qXsZ7lA==
					</data>
					<key>Size</key>
					<integer>65093</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page5</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page7</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>gradstudents.html</key>
				<dict>
					<key>Digest</key>
					<data>
					WQYa4LoxvghWJM97tj7yuA==
					</data>
					<key>Size</key>
					<integer>70918</integer>
				</dict>
				<key>gradstudents_files/page7_1.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mRQsFRWu01CNph2/Mcq3Bg==
					</data>
					<key>Size</key>
					<integer>57424</integer>
				</dict>
				<key>gradstudents_files/page7_2.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Dw1J9Uf/KOHgpb4o34CO3g==
					</data>
					<key>Size</key>
					<integer>60238</integer>
				</dict>
				<key>gradstudents_files/page7_3.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					M+biVDgIQAf4UEE0HrcfGw==
					</data>
					<key>Size</key>
					<integer>43359</integer>
				</dict>
				<key>gradstudents_files/page7_4.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GCtQf8sN2NGCktY0MVa7Pw==
					</data>
					<key>Size</key>
					<integer>63052</integer>
				</dict>
				<key>gradstudents_files/page7_5.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4PULyxBFCLOf3CmVqlHPBg==
					</data>
					<key>Size</key>
					<integer>42451</integer>
				</dict>
				<key>gradstudents_files/page7_6.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					trtbyYDfQTtWbi3gwc/Xew==
					</data>
					<key>Size</key>
					<integer>56437</integer>
				</dict>
				<key>gradstudents_files/page7_7.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WqnPASy5YfhY10JDmXSJ2g==
					</data>
					<key>Size</key>
					<integer>54436</integer>
				</dict>
				<key>gradstudents_files/page7_8.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xTd7dxZ+xcHzgjunGxd6Cw==
					</data>
					<key>Size</key>
					<integer>54289</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page7</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page8</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>drhasiotis.html</key>
				<dict>
					<key>Digest</key>
					<data>
					jypJQcSqwQimzqPZSa7vDQ==
					</data>
					<key>Size</key>
					<integer>122473</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page8</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
