<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page201</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>157.html</key>
				<dict>
					<key>Digest</key>
					<data>
					rDFR1x2ySDoMwIy9CLlYAA==
					</data>
					<key>Size</key>
					<integer>52420</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page201</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
