<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page153</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>070.html</key>
				<dict>
					<key>Digest</key>
					<data>
					pdzym9gt8ZQFhJ+ljzvMZg==
					</data>
					<key>Size</key>
					<integer>52422</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page153</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page154</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>071.html</key>
				<dict>
					<key>Digest</key>
					<data>
					x9UnFxvdMVY8N3XWOWbyzA==
					</data>
					<key>Size</key>
					<integer>52422</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page154</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page155</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>072.html</key>
				<dict>
					<key>Digest</key>
					<data>
					xHCJ1+WRkOe5t7d5W55KRQ==
					</data>
					<key>Size</key>
					<integer>52422</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page155</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page156</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>073.html</key>
				<dict>
					<key>Digest</key>
					<data>
					zYBq5FhCT42xsWHidDm6jg==
					</data>
					<key>Size</key>
					<integer>52422</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page156</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page157</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>074.html</key>
				<dict>
					<key>Digest</key>
					<data>
					qf9fgqJi+R1an1JUVnEdSw==
					</data>
					<key>Size</key>
					<integer>52422</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page157</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
