<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page243</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>142.html</key>
				<dict>
					<key>Digest</key>
					<data>
					fZx9JxbVGGVoBd9MSYhwrQ==
					</data>
					<key>Size</key>
					<integer>52394</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page243</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page244</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>143.html</key>
				<dict>
					<key>Digest</key>
					<data>
					VodU2K5f9yY2NahpDD0UvQ==
					</data>
					<key>Size</key>
					<integer>52394</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page244</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
