<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page194</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>042.html</key>
				<dict>
					<key>Digest</key>
					<data>
					tb6Wx/ka9czp26ywncyE7A==
					</data>
					<key>Size</key>
					<integer>52399</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page194</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page195</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>043.html</key>
				<dict>
					<key>Digest</key>
					<data>
					A2q/64XgR8k/BtK9pKR+MQ==
					</data>
					<key>Size</key>
					<integer>52399</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page195</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page196</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>044.html</key>
				<dict>
					<key>Digest</key>
					<data>
					l+4zyT1sljL/Er5xQ647uQ==
					</data>
					<key>Size</key>
					<integer>52414</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page196</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page197</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>045.html</key>
				<dict>
					<key>Digest</key>
					<data>
					WaIFC8f28+gQ5SmWk0VsNA==
					</data>
					<key>Size</key>
					<integer>52399</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page197</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
