<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page18</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>scaphichnium.html</key>
				<dict>
					<key>Digest</key>
					<data>
					4xS/ZGGAxCty8ZaWADgFgA==
					</data>
					<key>Size</key>
					<integer>51724</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page18</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page21</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>chubutolithes.html</key>
				<dict>
					<key>Digest</key>
					<data>
					k8IVhG0TkNkRJVEI+bltLA==
					</data>
					<key>Size</key>
					<integer>51730</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page21</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page22</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>paleobuprestis.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5rVeMULYnFUuhJaKM53GTg==
					</data>
					<key>Size</key>
					<integer>52282</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page22</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page24</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:13Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>rhizoliths.html</key>
				<dict>
					<key>Digest</key>
					<data>
					JTOonmG0q/fKmaX6Bs7Wdg==
					</data>
					<key>Size</key>
					<integer>60172</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page24</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page252</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:17Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>teredolites.html</key>
				<dict>
					<key>Digest</key>
					<data>
					aEDbWOhhpWA5H76KhL0vrg==
					</data>
					<key>Size</key>
					<integer>53649</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page252</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page261</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:20Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>thalassinoides.html</key>
				<dict>
					<key>Digest</key>
					<data>
					pzHKtb9UQdnSwyXcMAKqSQ==
					</data>
					<key>Size</key>
					<integer>53132</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page261</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page268</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:20Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>vondrichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					KMtKf3Y4pf5EAxwF5kWzeA==
					</data>
					<key>Size</key>
					<integer>52550</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page268</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page27</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:09Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>hadleyichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					0iQChErUMCwJPDrcL3KEUg==
					</data>
					<key>Size</key>
					<integer>51992</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page27</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page273</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:18Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>termitichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					/sj0KL9j31W5wDSGXXi2sg==
					</data>
					<key>Size</key>
					<integer>58697</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page273</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page28</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>steinichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					KccMEYZzr3ASgK1SzYteTA==
					</data>
					<key>Size</key>
					<integer>51985</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page28</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page29</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:08Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>elipsoichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					jGsp/cI8bBMLPpg7Poi3xw==
					</data>
					<key>Size</key>
					<integer>51724</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page29</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page30</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>coprinishpaera.html</key>
				<dict>
					<key>Digest</key>
					<data>
					JqhVrNfxOFtZ5XDEqml7Bw==
					</data>
					<key>Size</key>
					<integer>51736</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page30</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page31</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:17Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>syntermesichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					xi/VXf82bwT5964LYQ+wYg==
					</data>
					<key>Size</key>
					<integer>52002</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page31</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page32</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>dipnoichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5rF7A3t9u2txyYmeyGeLBQ==
					</data>
					<key>Size</key>
					<integer>54481</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page32</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page44</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:10Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>krausichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					0NxodtwjiscqwNsVXCW7wg==
					</data>
					<key>Size</key>
					<integer>53084</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page44</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page45</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:11Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>masrichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					bfVgszlb0LeZNyY+R2kiLA==
					</data>
					<key>Size</key>
					<integer>51977</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page45</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page46</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:09Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>gordia.html</key>
				<dict>
					<key>Digest</key>
					<data>
					MnjXNZHDw/jQFcHu03FTFg==
					</data>
					<key>Size</key>
					<integer>51664</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page46</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page47</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>skolithos.html</key>
				<dict>
					<key>Digest</key>
					<data>
					PHB4HienEve+sKfPnkt0Hw==
					</data>
					<key>Size</key>
					<integer>51969</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page47</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page48</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>diplocraterion.html</key>
				<dict>
					<key>Digest</key>
					<data>
					3O5UQ+ImPBR+gVJZRuWmXg==
					</data>
					<key>Size</key>
					<integer>52009</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page48</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page49</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>daemonelix.html</key>
				<dict>
					<key>Digest</key>
					<data>
					6J5vembtgyrOORNujWpeqw==
					</data>
					<key>Size</key>
					<integer>51712</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page49</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page50</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>scoyenia.html</key>
				<dict>
					<key>Digest</key>
					<data>
					2uAGCgR56XgoKIAkfJCaFw==
					</data>
					<key>Size</key>
					<integer>51935</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page50</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page51</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:08Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>fleaglellius.html</key>
				<dict>
					<key>Digest</key>
					<data>
					do7eUJ+pPLJgLcZEb6Yb/A==
					</data>
					<key>Size</key>
					<integer>53400</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page51</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page52</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>paleoscotylus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					kcyjcYNlNyI5MfTMJDv5Aw==
					</data>
					<key>Size</key>
					<integer>51730</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page52</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page53</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>psilonichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					rN498xdxr465D8yE4GVWgw==
					</data>
					<key>Size</key>
					<integer>51993</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page53</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page54</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>cochlichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					RXRQ0ed+xxFblwIe9H79sA==
					</data>
					<key>Size</key>
					<integer>51718</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page54</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page55</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:11Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>ophiomorpha.html</key>
				<dict>
					<key>Digest</key>
					<data>
					YZpu0BoRFNTxYFGJY3/T8g==
					</data>
					<key>Size</key>
					<integer>52550</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page55</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page56</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>chondrites.html</key>
				<dict>
					<key>Digest</key>
					<data>
					m5hdndefpnYnvp5pqlj6sQ==
					</data>
					<key>Size</key>
					<integer>52242</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page56</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page57</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>rossalia.html</key>
				<dict>
					<key>Digest</key>
					<data>
					pAv58OHLGcOBjEUs7ODnGw==
					</data>
					<key>Size</key>
					<integer>51687</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page57</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page58</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:08Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>feoichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					DtL+ShvAkNamFZTkiVKWpQ==
					</data>
					<key>Size</key>
					<integer>52092</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page58</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page59</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>dinosaurtracks.html</key>
				<dict>
					<key>Digest</key>
					<data>
					brEadHTViYaUPufYsMJLnw==
					</data>
					<key>Size</key>
					<integer>52535</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page59</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page61</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:09Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>fuersichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					PSmk3Z4B/u12HcYtx+JUDA==
					</data>
					<key>Size</key>
					<integer>51718</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page61</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page62</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:11Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>macanopsis.html</key>
				<dict>
					<key>Digest</key>
					<data>
					pyTKwMhb2L5yowQ5063h1g==
					</data>
					<key>Size</key>
					<integer>51712</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page62</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page63</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:10Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>ichnogyrus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					hTg8itTeFu7mmYHhbkNCKg==
					</data>
					<key>Size</key>
					<integer>51712</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page63</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page64</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:09Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>hamarichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					CsVeO88xBpFqqwKCjMMtaQ==
					</data>
					<key>Size</key>
					<integer>52817</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page64</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page65</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:20Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>terribellina.html</key>
				<dict>
					<key>Digest</key>
					<data>
					U8RVylhQFRIX3NAL/yxCMQ==
					</data>
					<key>Size</key>
					<integer>51725</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page65</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page66</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>celliforma.html</key>
				<dict>
					<key>Digest</key>
					<data>
					uMKsFtj/lA9C9+b3UcUA9g==
					</data>
					<key>Size</key>
					<integer>51977</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page66</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page67</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>edaphichnium.html.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5+e5dce4rI8XnEglWPwNXA==
					</data>
					<key>Size</key>
					<integer>52821</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page67</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page68</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>devincenzichnus.html</key>
				<dict>
					<key>Digest</key>
					<data>
					z2h3vDhjCBgL0Ia+/CkQmQ==
					</data>
					<key>Size</key>
					<integer>51727</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page68</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page69</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:10Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>koupichnium.html</key>
				<dict>
					<key>Digest</key>
					<data>
					GQPpz/kVlOdboF2SPNLM2w==
					</data>
					<key>Size</key>
					<integer>53649</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page69</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page70</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:15Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>rosellia.html</key>
				<dict>
					<key>Digest</key>
					<data>
					zrg5kZsUsFa2w9FZaGPgEQ==
					</data>
					<key>Size</key>
					<integer>52710</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page70</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page72</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:01Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>bichordites.html</key>
				<dict>
					<key>Digest</key>
					<data>
					S5Zer7ZBNk957XBrwveYXA==
					</data>
					<key>Size</key>
					<integer>52464</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page72</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page74</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>archeoentomoichnos.html</key>
				<dict>
					<key>Digest</key>
					<data>
					eU43kztkNDSzws8wI6v7ww==
					</data>
					<key>Size</key>
					<integer>55492</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page74</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
