<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page90</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>037.html</key>
				<dict>
					<key>Digest</key>
					<data>
					2C0m5CDB6nfC3anUFg6hyQ==
					</data>
					<key>Size</key>
					<integer>52411</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page90</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page91</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>038.html</key>
				<dict>
					<key>Digest</key>
					<data>
					IMUA+vyYalIOQLrDjNA14g==
					</data>
					<key>Size</key>
					<integer>52411</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page91</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page92</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:38:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>062.html</key>
				<dict>
					<key>Digest</key>
					<data>
					m6ERRIVB8xxN6QvEWHb6bQ==
					</data>
					<key>Size</key>
					<integer>52411</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page92</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
