<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page1</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>glossary.html</key>
				<dict>
					<key>Digest</key>
					<data>
					f+829sS9fJu0Ff7fpg9gYQ==
					</data>
					<key>Size</key>
					<integer>51192</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page1</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page10</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>models.html</key>
				<dict>
					<key>Digest</key>
					<data>
					3cHN5eGgbIp3iWKViE4+nA==
					</data>
					<key>Size</key>
					<integer>51156</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page10</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page9</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-03-15T18:37:59Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>71468B95-4DA8-4E78-A1E7-47932FD4B190</string>
			<key>PageDigests</key>
			<dict>
				<key>introduction.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+KOJXsfO+r+gTmBH9kCYRA==
					</data>
					<key>Size</key>
					<integer>51144</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page9</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
