body,
.movie-background {
	color: #000000;
	background-color: #FFFFFF;
}

a:link, a:visited {
	color: #326EA1;
}

a:hover, a:active {
	color: #fff;
	background-color: #000000;
}

#container,
.photo-navigation {
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
}
		
#pageHeader {
	background-color: #999999;
	border-bottom-color: #999999;
}

.photo-navigation {
	background-color: #26527E;
}

#pageHeader h1 {
	color: #FFFFFF;
}
		
#pageHeader h2,
.photo-caption {
	color: #FFFFFF;
}
		
#navcontainer,
.photo-links {
	background-color: #000000;
	border-bottom-color: #000000;
}

.blog-entry-title a {
	color: #333333;
}

.blog-entry-title a:hover {
	color: #326EA1;
	background: transparent;
}

.photo-links {
	color: #000000;
}

.exif-data,
.movie-title {
	color: #FFFFFF;
}

#navcontainer ul a,
.photo-navigation a:link,
.photo-navigation a:visited {
	color: #AFAFAF;
}

#navcontainer ul a:hover,
.photo-navigation a:hover {
	color: #FFFFFF;
}

#navcontainer #current,
#navcontainer .currentAncestor, #navcontainer .current, .current {
	color: #FFFFFF;
}

#navcontainer #bottomBar {
	border-top-color: #1C3D5E;
	background-color: #0F2032;
}

#navcontainer ul ul {
	background-color: #000000;
}

#contentContainer {
	border-color: #FFFFFF;
}

#sidebarContainer .sideHeader,
#sidebarContainer h1,
#sidebarContainer h2,
#sidebarContainer h3,
#sidebarContainer h4,
#sidebarContainer h5,
.blog-entry-date,
.blog-archive-link {
	border-bottom-color: #505357;
	color: #1D2024;
}

#sidebarContainer #sidebar {
	border-bottom-color: #505357;
}

#footer {
	background-color: #999999;
	color: %colour_footer_text%;
}
